.header {
  padding: 15px 0;
  background: $main-bg;
  &__wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    .header__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header__logo {
        &--link {
          font-size: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:visited,
          &:active {
            svg {
              fill: $icon-color;
            }
          }
          svg {
            fill: $icon-color;
          }
        }
      }
      .header__search {
        width: 350px;
        &--input,
        &--mobile-input {
          background: $input-bg;
          width: 100%;
          padding: 15px;
          border: none;
          border-radius: 25px;
          outline: none;
          font-size: 16px;
          color: $white-color;
          &::-webkit-search-cancel-button {
            display: none;
          }
          &::-ms-clear {
            display: none;
          }
        }
        &--mobile-input {
          display: none;
        }
      }
    }

    .header__nav {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .nav {
        display: flex;
        column-gap: 18px;
        a {
          color: $text-gray-color;
          font-size: 18px;
          &:active {
            color: $white-color;
          }
        }
      }
      .mobile__menu {
        display: none;
        .menu__btn {
          background: none;
          border: none;
          font-size: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            color: $icon-color;
          }
        }
      }
    }
  }
  .menu__wrapper {
    padding: 20px 0;
    background: $main-bg;
    .menu__items {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 25px;
      .item {
        a {
          color: $text-gray-color;
          &:active {
            color: $white-color;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .header {
    &__wrapper {
      grid-template-columns: 2.5fr 1fr;
      .header__top {
        .header__search {
          width: 100px;
          &--input {
            display: none;
          }
          &--mobile-input {
            display: flex;
            text-align: center;
          }
        }
      }

      .header__nav {
        width: auto;
        .nav {
          display: none;
        }
        .mobile__menu {
          display: flex;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .header {
    &__wrapper {
      grid-template-columns: 5fr 1fr;
      .header__nav {
        .nav {
          display: none;
        }
        .mobile__menu {
          display: flex;
        }
      }
    }
  }
}
